---
import Button from '../components/Button.astro'
import Regalo from '../components/Regalo.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='¡Feliz dia de la Madre!'>
  <main
    class='max-w-3xl m-auto p-6 flex flex-col justify-center items-center gap-5'>
    <h1 class='text-gradient text-3xl text-center lg:text-6xl font-extrabold'>
      ¡Feliz dia de la madre a la mejor mamá del mundo!
    </h1>

    <p class='text-justify text-xl font-semibold text-indigo-600 lg:text-2xl'>
      Bueno esto es una pequeña pagina para ti. Gracias a que tu si me apoyas en
      esto, pues te mereces que te haga algo.
    </p>

    <p class='text-justify text-xl font-semibold text-violet-600 lg:text-2xl'>
      Primero que todo, te quiero agradecer por tantas cosas que haz aguantado
      por José y por mi
    </p>
    <p class='text-justify text-xl font-semibold text-blue-600 lg:text-2xl'>
      Segundo pues quiero decirte que te amo con todo mi vida, yo se que no lo
      digo, pero trato de expresarlo de otras maneras, esta es un ejemplo
      bastante bueno
    </p>
    <p class='text-justify text-xl font-semibold text-cyan-600 lg:text-2xl'>
      Y tercero pero no menos importante esta el ragalo para la mejor mama del
      mundo
    </p>

    <Button>
      <a class='w-full text-white cursor-pointer font-bold' href='#regalo'
        >Presiona aqui para ir a tu regalo</a
      >
    </Button>

    <Regalo />
  </main>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
